.topbar {
  background: #ee21b7;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: rgb(213, 195, 195);
}

.topbar img {
  width: 32px;
  border-radius: 50%;
  position: relative;
  top: -5px;   
}