*{
            margin: 0;
            padding: 0;
            color: white;
            list-style: none;
            text-decoration: none;
        }
        body{
            background-image:  url('images.jpeg')
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed; 


        }
        .sidebar{
            position: fixed;
            width: 250px;
            height: 100%;
            left: 0;
            background-color: rgba(31, 35, 88, 0.151);
        }
        .kanan{
            margin-left: 250px;
            height: 100%;
            background-color: rgba(31, 35, 88, 0.7);
        }
        .topbar{
            position: fixed;
            top: 0;
            height: 64px;
            background-color: rgba(48, 45, 77, 0.829);
            width: 100%
        }
        .main{
            position: relative;
            top: 64px;
        }

        
        .profil{
        text-align: center;

        margin-top: 20px;
        }
        